<h1>
  Heroes
</h1>

<hr>

<div class="row">
  <div class="col-md-12">
    <button class="btn btn-outline-primary"  
            type="button" name="button"
            [routerLink]="[ '/heroe', 'nuevo' ]">
<!-- dentro de un routeroutlet se tiene que navegar a la raiz en este caso a /heroe -->
      Agregar Nuevo heroe
    </button>
  </div>
</div>

 <div class="row">
   <div class="col-md-12">
     <div class="table-responsive">
       <table class="table"> 
         <thead class="thead-inverse" >
           <tr>
             <th>#</th>
             <th>Nombre</th>
             <th>Casa</th>
             <th>Opciones</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
           </tr>
           <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
          </tr>
         </tbody>
       </table>
     </div>
   </div>

 </div>